@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$noo: #5c3782;
$sphere: #79549c;

$primary: $noo;
$primary-invert: $white;
$secondary: $sphere;
$secondary-invert: $white;
$link: $secondary;

//$family-sans-serif: "Helvetica", "Arial", sans-serif;

@import "../node_modules/bulma/bulma";
@import "theme";
