a {
  color: $link;
  transition: all 300ms ease;
  user-select: none;
}
 
.hide {
  display: none;
}

.disable {
  pointer-events: none;
}

.capitalize {
  text-transform: capitalize;
}

.image img {
  object-fit: cover;
  object-position: top;
}

div.button-set {
  padding: 2rem;

  a.button {
    margin: .25rem;

    span.icon {

      @media (max-width: 768px) {
        margin: auto 0 !important;
      }
    }
  }
}

nav.navbar {

  box-shadow: 0 5px 8px rgba($black, 0.1);

  img.profile {
    border-radius: 50%;
    margin-right: .5rem;
  }

  a.underline {

    span:last-child {
      margin-left: .5rem;
    }
  }
}

section#character-cards {

  div.columns {
    display: flex;
    flex-wrap: wrap;
  }

  div.card {
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  div.card-content p {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: -1.25rem;
  }

  progress {
    margin: auto;
    max-width: 500px;
  }
}

section#character-options {

  div#character-breadcrumbs {

    div.hero-body {
      padding-bottom: 1.25rem;
    }

    .breadcrumb li + li::before {
      color: $grey-light;
    }
  }

  div.content-box {
    background-color: $white;
  }

  div#character-title {

    div.content-box {
      min-height: 100px;

      h1 {
        color: $secondary;
        margin: 2rem .75rem;
      }
    }

    div.content-home {
      display: flex;
      align-items: flex-end;

      a.button {
        background-color: transparent;
        border: 0;
        color: $grey-light;
        margin-bottom: .5rem;

        &:hover {
          color: $secondary;
          padding-left: 1.5rem;
        }

        span.icon {
          font-size: 2rem;
          margin-left: 0;
        }
      }
    }
  }

  div#character-content {
    padding-bottom: 5rem;

    div.content-box {
      min-height: 450px;
      padding: 1.5rem 2.5rem;

      article#instructions {
        margin-bottom: 2rem;
      }

      article#error {
        margin-top: 2rem;
      }

      div#arrows {

        div.button-set {
          padding-bottom: 1rem;
        }

        #next.is-static {
          cursor: help;
          pointer-events: auto;
        }
      }

      div.card-choice-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.card-choice {
          display: block;
          position: relative;

          &.hide {
            display: none;
          }

          label {
            cursor: pointer;
            display: block;
            font-size: 0;
          }

          label > input {
            visibility: hidden;
            position: absolute;
          }

          label > input + figure {
            transition: all 300ms ease;

            .title {
              bottom: 0;
              display: block;
              margin-bottom: 1rem;
              padding: 0 1rem;
              position: absolute;
              text-shadow: 0 0 4px rgba($black, 0.4);
              width: 100%;
              z-index: 1;
            }

            img {
              border-radius: 1rem;
              opacity: .6;
              transition: all 300ms ease;
            }
          }

          label > input:hover + figure {
            transform: scale(1.02);

             img {
               opacity: .75
             }
          }

          label > input:checked + figure {
            transform: scale(1.05);

            img {
              box-shadow: 0 0 8px rgba($black, 0.2);
              opacity: 1;
            }
          }
        }
      }

      div#character-level input {
        font-size: 5rem;
        text-align: center;
      }

      div#character-name input {
        text-align: center;
      }

      div#character-skill,
      div#character-tool,
      div#character-expertise,
      div#character-language {
        color: $grey-darker;

        h1 {
          color: $secondary;
          margin: 2rem 0;

          span {
            font-weight: $weight-normal;
            margin-right: .75rem;
          }
        }

        .columns {
          flex-wrap: wrap;

          .column {
            padding: .5rem 1rem;
          }

          .column.is-small {
            padding: .15rem 1rem;
          }
        }
      }

      div#character-abilities {
        color: $grey-darker;

        .columns {
          align-items: center;
          text-align: center;
        }

        input {
          text-align: center;
        }

        .title {
          color: $grey-darker;
        }

        #legend {
          color: $grey;
          font-size: .8rem;
          text-transform: uppercase;
        }

        span {
          font-size: 1.2rem;
        }

        span[data-ability='score'] {
          background-color: lighten($secondary,45%);
          border-radius: 1rem;
          display: block;
          padding: .5rem;
        }

        span[data-ability='mod'] {
          background-color: lighten($success,45%);
          border-radius: 1rem;
          display: block;
          padding: .5rem;
        }

        #cost {
          color: $grey;
          font-size: .8rem;
          justify-content: flex-end;
          text-transform: uppercase;

          .column:first-child {
            text-align: right;
          }

          #points {
            color: $danger;
          }
        }
      }

      div#character-summary {

        .card {
          margin-bottom: 1rem;
        }

        .title {
          color: $grey-darker;
          font-size: 3rem;
        }

        .subtitle {
          color: $grey;
          font-size: .7rem;
          margin-bottom: .5rem;
          text-transform: uppercase;
        }

        .abilities .card-content {
          padding: .25rem .25rem .5rem;

          .subtitle {
            letter-spacing: -.5px;
            margin-bottom: 1.75rem;
          }
        }

        .card.horizontal footer {
          border-top: 0;

          p:first-child {
            background-color: $grey-darker;
            color: $white;
            flex-grow: 0;
            padding: 0 .85rem;
          }
        }

        .card.skills {
          padding: 1rem;

          .field {
            margin: .25rem 0;
            pointer-events: none;
          }

          label {
            margin: 0;
          }

          .blank {
            background-color: $grey-lighter;
            border-radius: 2px;
            display: inline-block;
            margin: 0 6px 0 3px;
            text-align: center;
            width: 24px;
          }

          ul li {
            text-transform: capitalize;
          }
        }

        .card.stacked p {
          display: block;

          span {
            display: block;
          }
        }

        .card.main {

          .card-header-title:last-child {
            justify-content: flex-end;
          }
        }
      }
    }

    div.content-links {
      margin-left: -3px;
      padding-left: 0;
      padding-top: 2rem;

      li {
        border-left: 3px solid lighten($secondary,10%);
        transition: all 300ms ease;

        &:hover {
          border-width: 10px;
        }

        &.is-active {
          border-color: lighten($secondary,20%);

          a {
            background-color: transparentize($secondary,.7);
            border-radius: 0 2px 2px 0;
          }
        }

        &#nav-hp, &#nav-feats, &#nav-spells {
          color: $secondary;
        }
      }

      a:hover {
        background-color: transparent;
        color: lighten($secondary,30%);
      }

      span.icon{
        padding: .5rem;
      }

      span.lock {
        color: $secondary;
        display: none;
        font-size: .8rem;
        padding-left: .5rem;
      }
    }
  }
}

a#return {
  background: transparentize($black,.3);
  border-radius: 50%;
  bottom: 20px;
  display: none;
  height: 50px;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 10;

  span {
    color: $white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 14px;
    font-size: 20px;
    transition: all 300ms ease;
}

  &:hover {
    background: transparentize($black,.1);

    span {
      top: 10px;
    }
  }
}

footer.footer {
  padding-bottom: 3rem;
}
